<h1>Knights of Ren</h1>
<hr />

<h2>Create New Game</h2>
  <% if user_signed_in? %>
    <%= link_to "New Game", new_game_path %>
  <% end %>
<hr />
<br />

<h2>Available Games</h2>
<% @games.available.each do |game| %>
    <%= game.name %>
    <% if user_signed_in? %>
      <%= simple_form_for game, :url => game_path(game), :method => :put do |f| %>
          <%= f.hidden_field :player_black_id, value: current_user.id %>
          <%= f.submit 'Join Game' %>
      <% end %>
    <% end %>
    <hr />
<% end %>
<hr />

<h2>All Games</h2>
<% @games.each do |game| %>
  <p><%= link_to game.name, game_path(game) %></p>
<% end %>
