<h1>New Game</h1>
<div>
  <%= simple_form_for @game do |f| %>
    <%= f.input :name %>
    <%= label_tag 'Play as:' %>
    <%= select_tag(:option, options_for_select([['white', 1], ['black', 2]], selected: :option)) %>
    <br/>
    <%= f.submit 'Create Game' %>
  <% end %>
</div>