<h1><%= current_game.inspect %></h1>
<p><%= current_game.name %></p>
<br class="clr" />

<div class="game-background">
   <br class="clr" />

   <div class="chessboard">
      
      <% (0..7).each do |y| %>
        <% (0..7).each do |x| %>
          <% if (x.even? && y.odd?) || (x.odd? && y.even?) %>
            <div class="black-tile"><%= render_piece(x,(y-7).abs) %></div>
          <% else %>
            <div class="white-tile"><%= render_piece(x,(y-7).abs) %></div>
          <% end %>
        <% end %>
      <% end %>

      <br class="clr" />
   </div>
</div>
<br class="clr" />
<p><%= link_to 'Edit/Update', edit_game_path(current_game) %></p>
<p><%= link_to 'Delete', '#', method: :delete %></p>
