<div class="background">
  <br class="clr" />
  <div class="panel panel-default shadow">
    <div class="panel-heading">
      <h3 class="panel-title text-center"><%= current_game.name %></h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-2 text-left">
        <%= image_tag player('white').gravatar_url %>
      </div>
      <div class="col-xs-3 text-left">
        <h5><%= player('white').username %></h5>
        <hr class="hr-style">
        <small>white</small>
      </div>
      <div class="col-xs-2 text-center">
        <h1>vs.</h1>
      </div>
      <div class="col-xs-3 text-right">
        <h5><%= "?" if player('white').nil? %></h5>
        <h5><%= player('black').username if player('black').present? %></h5>
        <hr class="hr-style">
        <small>black</small>
      </div>
      <div class="col-xs-2 text-right">
        <%= image_tag player('black').gravatar_url if player('black').present? %>
      </div>
    </div>
  </div>

  <br class="clr" />

  <div class="game-background">
    <br class="clr" />
    <div class="chessboard">
      <% (0..7).each do |y| %>
        <% (0..7).each do |x| %>
          <% if (x.even? && y.odd?) || (x.odd? && y.even?) %>
            <div class="black-tile tile" data-x-coordinate="<%= x %>" data-y-coordinate="<%= y %>">
              <div class="piece" <% if (piece_id(x,y) != nil) %> data-update-url="<%= game_piece_path(current_game, piece_id(x,y)) %>" data-current-piece="<%= current_game.pieces.find_by(x_coordinate: x, y_coordinate: y).id %>"  <% end %> >
                <%= render_piece(current_game, x,(y-7).abs) %>
              </div>
            </div>
          <% else %>
            <div class="white-tile tile" data-x-coordinate="<%= x %>" data-y-coordinate="<%= y %>"> <!-- did I assign x and y properly? someone in the general chat seemed to think not, but I don't see the issue -->

              <!-- I'm not sure that the update url is correct here. I got it to stop giving me errors so at least the game and piece id are not nil. Also not sure about the current-piece, not sure why it has the (y-7).abs when it gets rendered -->

              <div class="piece" <% if (piece_id(x,y) != nil) %> data-update-url="<%= game_piece_path(current_game, piece_id(x,y)) %>" data-current-piece="<%= current_game.pieces.find_by(x_coordinate: x, y_coordinate: y).id %>" <% end %> >
                <%= render_piece(current_game, x,(y-7).abs) %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <br class="clr" />
     </div>
  </div>
  <br class="clr" />
</div>

<script>
    $(function(){

      $('.piece').draggable();

      $('.tile').droppable( {
        drop: function(event, ui) { updatePieceLocation(event, ui); }
      });

    });

    function updatePieceLocation(event, ui) {
      $.ajax({
        type: 'PATCH',
        url: ui.draggable.data('update-url'),
        dataType: 'json',
        data: {piece: {x_coordinate: event.target.dataset["xCoordinate"], y_coordinate: event.target.dataset["yCoordinate"]}} // did I grab the x and y properly?
      }).done(function( data ) {
        // will have to eventually remove any captured pieces here
      });
    }
  </script>


<br class="clr" />
<p><%= link_to 'Edit/Update', edit_game_path(current_game) %></p>
<p><%= link_to 'Delete', '#', method: :delete %></p>

<%= current_game.inspect %>
